Healthcare-Patient-Intake/n8n-workflow/Healthcare_AI_Notion.json
{
  "name": "Healthcare AI Notion",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "patient-intake-document",
        "options": {}
      },
      "id": "209f2c1d-ec98-4f3b-9a80-f38baf66b4db",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        20,
        -120
      ],
      "webhookId": "5f9612c0-9647-4b19-b493-1174f4801a13"
    },
    {
      "parameters": {
        "jsCode": "// Extract data from the webhook body structure\n// Get the input data - handle both body wrapper and direct JSON structures\nconst inputData = $input.item.json;\nconst data = {};\n\n// Check if data is in body structure or direct\nconst sourceData = inputData.body ? inputData.body : inputData;\n\n// Extract each field individually from the source data\ndata.patientName = sourceData.patientName || 'Not provided';\ndata.dateOfBirth = sourceData.dateOfBirth || 'Not provided';\ndata.appointmentDate = sourceData.appointmentDate || 'Not provided';\ndata.appointmentTime = sourceData.appointmentTime || 'Not provided';\ndata.chiefComplaint = sourceData.chiefComplaint || 'Not provided';\ndata.symptomsAndDuration = sourceData.symptomsAndDuration || 'Not provided';\ndata.medicalHistory = sourceData.medicalHistory || 'Not provided';\ndata.familyHistory = sourceData.familyHistory || 'Not provided';\ndata.currentMedications = sourceData.currentMedications || 'Not provided';\ndata.previousConsultations = sourceData.previousConsultations || 'Not provided';\ndata.insuranceProvider = sourceData.insuranceProvider || 'Not provided';\ndata.hpiSummary = sourceData.hpiSummary || '';\n\n// Log the extracted data for debugging\nconsole.log(\"Extracted data:\", JSON.stringify(data, null, 2));\n\n// Format dates if possible\ntry {\n  // Format dateOfBirth if it's not already in YYYY-MM-DD\n  if (data.dateOfBirth && !data.dateOfBirth.includes('-')) {\n    const dob = new Date(data.dateOfBirth);\n    if (!isNaN(dob.getTime())) {\n      data.dateOfBirth = dob.toISOString().split('T')[0];\n    }\n  }\n  \n  // Format appointmentDate if needed\n  if (data.appointmentDate && !data.appointmentDate.includes('-')) {\n    const appDate = new Date(data.appointmentDate);\n    if (!isNaN(appDate.getTime())) {\n      data.appointmentDate = appDate.toISOString().split('T')[0];\n    }\n  }\n} catch (e) {\n  // If date parsing fails, keep the original format\n  console.log(\"Date parsing error:\", e.message);\n}\n\n// Generate current timestamp\ndata.createdAt = new Date().toISOString();\n\n// Generate a formatted HPI summary if none exists\nif (!data.hpiSummary) {\n  data.hpiSummary = `Patient ${data.patientName} presents with ${data.chiefComplaint}.`;\n  \n  if (data.symptomsAndDuration !== 'Not provided') {\n    data.hpiSummary += ` Symptoms include ${data.symptomsAndDuration}.`;\n  }\n  \n  if (data.currentMedications !== 'Not provided') {\n    data.hpiSummary += ` Currently taking ${data.currentMedications}.`;\n  }\n  \n  if (data.medicalHistory !== 'Not provided') {\n    data.hpiSummary += ` Medical history includes ${data.medicalHistory}.`;\n  }\n}\n\n// Create document title\ndata.documentTitle = `${data.patientName} - ${data.appointmentDate}`;\n\n// Log the final formatted data\nconsole.log(\"Final formatted data:\", JSON.stringify(data, null, 2));\n\nreturn {json: data};"
      },
      "id": "54878381-75c5-4f82-a071-9d4861b90a72",
      "name": "Format Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        240,
        -120
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "1c601b6a-8dae-80d1-a181-e53dce6fa8cd",
          "mode": "list",
          "cachedResultName": "Patient Intake Records",
          "cachedResultUrl": "https://www.notion.so/1c601b6a8dae80d1a181e53dce6fa8cd"
        },
        "title": "={{$json[\"patientName\"]}}",
        "blockUi": {
          "blockValues": [
            {
              "type": "heading_1",
              "textContent": "=Patient Intake: {{$json[\"patientName\"]}}"
            },
            {
              "type": "heading_2",
              "textContent": "Appointment Details"
            },
            {
              "textContent": "=Date: {{$json[\"appointmentDate\"]}} Time: {{$json[\"appointmentTime\"]}}"
            },
            {
              "type": "heading_2",
              "textContent": "History of Present Illness (HPI)"
            },
            {
              "textContent": "={{$json[\"hpiSummary\"]}}"
            },
            {
              "type": "heading_2",
              "textContent": "Patient Information"
            },
            {
              "type": "heading_3",
              "textContent": "Chief Complaint"
            },
            {
              "textContent": "={{$json[\"chiefComplaint\"]}}"
            },
            {
              "type": "heading_3",
              "textContent": "Symptoms and Duration"
            },
            {
              "textContent": "={{$json[\"symptomsAndDuration\"]}}"
            },
            {
              "type": "heading_3",
              "textContent": "Medical History"
            },
            {
              "textContent": "={{$json[\"medicalHistory\"]}}"
            },
            {
              "type": "heading_3",
              "textContent": "Family History"
            },
            {
              "textContent": "={{$json[\"familyHistory\"]}}"
            },
            {
              "type": "heading_3",
              "textContent": "Current Medications"
            },
            {
              "textContent": "={{$json[\"currentMedications\"]}}"
            },
            {
              "type": "heading_3",
              "textContent": "Previous Consultations"
            },
            {
              "textContent": "={{$json[\"previousConsultations\"]}}"
            },
            {
              "type": "heading_3",
              "textContent": "Insurance Information"
            },
            {
              "textContent": "={{$json[\"insuranceProvider\"]}}"
            }
          ]
        },
        "options": {}
      },
      "id": "d404fd76-c726-4924-923d-1d13f39f5c85",
      "name": "Create Notion Page",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2,
      "position": [
        420,
        -120
      ],
      "credentials": {
        "notionApi": {
          "id": "1OTYB4n31AWXrufc",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Patient intake document created successfully\",\n  \"documentId\": \"={{ $json.id }}\",\n  \"patient\": \"={{ $json.name }}\"\n}",
        "options": {}
      },
      "id": "631f9642-60ea-4e62-98c4-c52e5cadcaeb",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        600,
        -120
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Format Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Data": {
      "main": [
        [
          {
            "node": "Create Notion Page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Notion Page": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "784fbce9-0da4-4606-95d1-eeb08439a19d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2d7d24dc4a1aac91875f4bdf711542135ce192a62033a7e3e23103e291c66240"
  },
  "id": "xbLujd5TyAwwLW1H",
  "tags": []
}